body{
    font-family: 'KoHo', sans-serif;
}

/* body {
    background-image: url(img/bg5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
} */